body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pictures {
  display: flex;
  flex-wrap: wrap;
}
.picture {
  background-color: rgb(20, 2, 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: white;
}
.champion-name {
  color: white;
}